{% extends 'ChainControl/index.html' %}
{% load static %}

{% block title %}
Общий журнал
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        btn = document.getElementById('request_nav').getElementsByClassName('active');
            $('#content').empty();
            $('#content').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
            $('#content').load("{% url 'all_requests_list' %}?mode="+btn[0].value);

        $('input[type=search]').on('search', function () {
            if (this.value) {
                btn = document.getElementById('request_nav').getElementsByClassName('active');
                $('#content').empty();
                $('#content').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
                $('#content').load(btn[0].value + "?q=" + this.value);
            }
        });
    });

    function search_from_button(btn) {

        if (btn.dataset.val == 0) {
            $('#request_search_form').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
            $('#request_search_form').load("{% url 'get_all_requests_search_form' %}", function () {
                $('#id_form').submit(function (e) {
                    e.preventDefault();
                    btn1 = document.getElementById('request_nav').getElementsByClassName('active');
                    $('#content').empty();
                    $('#content').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
                    $('#content').load("{% url 'all_requests_list' %}?mode=" + btn1[0].value +"&"+ $('#id_form').serialize());
                });
                $('select').selectize({
                    sortField: 'text',
                    allowEmptyOption : 'true'
                });
            });
            btn.dataset.val = 1;
            btn.getElementsByTagName("img")[0].src = "{% static 'ChainControl/images/funnel-fill.svg' %}";
        }
        else {
            $('#request_search_form').empty();
            btn.dataset.val = 0;
            btn.getElementsByTagName("img")[0].src = "{% static 'ChainControl/images/funnel.svg' %}";
        };
    }

    function request_nav(btn) {
        btns = document.getElementById('request_nav').querySelectorAll('button.active');
        btns.forEach(function (el) {
            el.classList.remove('active');
        })
        $('#content').empty();
        $('#content').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
        $('#content').load("{% url 'all_requests_list' %}?mode="+btn.value);
        btn.classList.add('active');
    }

    function request_page(page) {
        btn = document.getElementById('request_nav').getElementsByClassName('active');
        $('#content').empty();
        $('#content').append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
        $('#content').load("{% url 'all_requests_list' %}?mode="+btn[0].value+"&page="+page+"&"+ $('#id_form').serialize());
    }

</script>
<script type="text/javascript">
    function CallPrint(id) {
        var WinPrint = window.open('', '', 'left=50,top=50,width=800,height=640,toolbar=0,scrollbars=1,status=0');
        WinPrint.document.write('<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor\" crossorigin=\"anonymous\" onload=print();>');
        WinPrint.document.write(document.querySelector("#content > div.table-responsive").innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
    }
</script>

{% endblock %}

{% block descr %}
<p class="h4 text-center">
    Общий журнал
</p>


    <div id="request_nav" class="btn-group start-50 translate-middle-x mt-3" role="group" aria-label="Basic example">
        <button onclick="request_nav(this)" id="requests_for_approval" type="button" class="btn btn-primary active" value="requests_for_approval">Заявки на согласование</button>
        {% if user.is_staff %}
        <button onclick="request_nav(this)" id="requests_all" type="button" class="btn btn-primary" value="all_requests">Все заявки</button>
        {% endif %}
        <button onclick="request_nav(this)" id="requests_my_requests" type="button" class="btn btn-primary" value="my_requests">Мои заявки</button>
        <button onclick="request_nav(this)" id="requests_to_be_done" type="button" class="btn btn-primary" value="requests_to_be_done">Заявки к исполнению</button>
    </div>

    <div class="mt-3">
        <span role="button" onClick="javascript:CallPrint('{{object.id}}');" class=" border-0 ms-3">
            Вывести список
            <img src="{% static 'ChainControl/images/printer.svg' %}" />
        </span>
    </div>
    <div class="mt-3 ms-auto">
        <a role="button" href="{% url 'list_to_excel'%}?type=all" class="btn border-0 ms-1">
            Вывести в Excel
            <img src="{% static 'ChainControl/images/excel.svg' %}" />
        </a>
    </div>
    <div class="mt-3">
        <span role="button" onclick="search_from_button(this)" id="request_search_form_button" class="border-0 ms-3" data-val=0>
            Фильтр
            <img src="{% static 'ChainControl/images/funnel.svg' %}" />
        </span>
        <div class="row ms-3" id="request_search_form"></div>
    </div>
    {% endblock %}

    {% block body %}
    <div id="content" class="container-fluid">

    </div>


    {% endblock %}
