<ul class="list-group">

    {% for el in els %}
    <li class="list-group-item">
        <blockquote class="blockquote {{ el.color }}">
            <h6>{{ el.get_new_status_display }}</h6>
        </blockquote>
        <figcaption class="blockquote-footer">
            {% if el.user.first_name %}
            {{ el.user.last_name }} {{ el.user.first_name|make_list|first }}.
            {% else %}
            {{ el.role}}
            {% endif %}
        </figcaption>

    </li>
    {% endfor %}
</ul>