{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="{% static 'ChainControl/jquery.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.addEventListener('afterprint', (event) => {
            window.close();
        });
        window.print();
    });
</script>
<p class="h4 text-center pt-3">
    {{company_name}}
</p>
<p class="h4 text-center pt-3">
    Заявка #{{object.id}} от {{object.date | date:'d M Y'}} г.
</p>
<hr />


    
        
            

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <fieldset>

                                    <div class="col-12">

                                        <p>Заявитель: {{ object.user.last_name }} {{ object.user.first_name|make_list|first }}.</p>

                                    </div>
                                    <div class="col-12">

                                        <p>Вид заявки: {{object.type}}</p>

                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <!--<p class="h4"> Данные о контрагенте</p>-->
                                    <br />
                                    <div class="row">


                                        <div class="col-12">
                                            <p>Командируемый: {{object.individual}}</p>
                                        </div>

                                        <div class="col-12">
                                            <p>Направление: {{object.destination}}</p>
                                        </div>

                                        <div class="col-12">
                                            <p>Контрагент: {{object.client}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Цель командировки: {{object.purpose}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Дата начала: {{object.date_from}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Дата окончания: {{object.date_to}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Стоимость билетов: {{object.ticket_price}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Стоимость проживания: {{object.cost_of_living}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p>Суточные: {{object.daily_allowance}}</p>
                                        </div>
                                        <div class="col-md-12">
                                            <label for="inputcomment" class="form-label">Комментарий</label>
                                            {{object.comment}}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            
                        </div>

                        <div class="col-12">
                            <br />
                            <p class="h4">Участники согласования</p>
                            <hr />
                            <table class="table table-borderless">

                                <tbody>

                                    {% for el in els %}
                                    <tr>
                                        <td>
                                            {{ el.user.userprofile.role }} /
                                        </td>
                                        <td>
                                            {{ el.user.last_name }} {{ el.user.first_name|make_list|first }}.
                                        </td>
                                        <td>
                                            - {{ el.get_new_status_display }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>



