{% extends 'ChainControl/index.html' %}

{% block title %}
Создать заявку
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function () {

        $('select').selectize({
            sortField: 'text'
        });

        $.getJSON("{% url 'get_clients' %}", function (Clients) {

            $("#id_client").selectize()[0].selectize.clearOptions();
            $("#id_client").selectize()[0].selectize.load(function (callback) {
                callback(Clients);
            });

        });
    });
</script>
{% endblock %}

{% block descr %}
<p class="h1 text-center">
    Создать заявку
</p>

{% endblock %}

{% block body %}

<form action="" method="post" class="row g-3 p-3 border border-primary rounded" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.status.as_hidden}}
    {{ form.date.as_hidden}}
    <div class="container">
        <div class="row">
            <div class="col-10 border-end">
                <div class="row">
                    <div class="col-12">
                        <fieldset>

                            <div class="col-12">
                                <label for="inputuser" class="form-label">Заявитель</label>
                                {{form.user}}
                            </div>
                            <div class="col-12">
                                <label for="inputtype" class="form-label">Вид заявки</label>
                                {{form.type}}
                            </div>
                            <div class="col-12 d-lg-none">
                                <div class="accordion accordion-flush" id="accordionExample1">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="headingOne1">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne1">
                                                Участники согласования
                                            </button>
                                        </h2>
                                        <div id="collapseOne1" class="accordion-collapse collapse" aria-labelledby="headingOne1" data-bs-parent="#accordionExample1">
                                            <div class="accordion-body ordering_for_new_request">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <label for="inputcomplete_before" class="form-label">Срок выполнения</label>
                                {{form.complete_before}}
                            </div>
                            <div class="col-12">
                                <label for="inputpayment_type" class="form-label">Тип оплаты</label>
                                {{form.payment_type}}
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <fieldset>
                            <legend> Данные о контрагенте</legend>
                            <div class="row g-3">
                                <div class="col-12">
                                    <label for="inputclient" class="form-label">Контрагент</label>
                                    {{form.client}}
                                </div>
                                <div class="col-12">
                                    <label for="inputcontract" class="form-label">Договор</label>
                                    {{form.contract}}
                                </div>
                                <div class="col-12">
                                    <label for="inputbank_account" class="form-label">Номер счета</label>
                                    {{form.bank_account}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset>
                            <legend> Данные счета на оплату</legend>
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label for="inputinvoice_number" class="form-label">Номер счета</label>
                                    {{form.invoice_number}}
                                </div>
                                <div class="col-md-4">
                                    <label for="inputinvoice_date" class="form-label">Дата счета</label>
                                    {{form.invoice_date}}
                                </div>
                                <div class="col-md-4">
                                    <label for="inputAVR_date" class="form-label">Дата оказания услуг</label>
                                    {{form.AVR_date}}
                                </div>
                                <div class="col-12">
                                    <label for="inputinvoice_details" class="form-label">Содержание</label>
                                    {{form.invoice_details}}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-12">
                    
                    <fieldset>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="inputsum" class="form-label">Сумма</label>
                                {{form.sum}}
                            </div>
                            <div class="col-md-3">
                                <label for="inputsum" class="form-label">Валюта</label>
                                {{form.currency}}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="inputcomment" class="form-label">Комментарий</label>
                            {{form.comment}}
                        </div>
                    </fieldset>

                </div>
                <div class="row">
                    <div class="col-12 g-3">

                        <div class="row g-3">
                            {{ addfiles.non_form_errors }}
                            {{ addfiles.management_form }}
                            {% for f in addfiles %}
                            <div class="col-md-12">
                                {{ f.file }}

                                {% if addfiles.can_delete %}
                                {{ f.DELETE }} {{ f.DELETE.label }}
                                {% endif %}

                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12 ps-2">
                        <button type="submit" class="btn btn-primary">Отправить заявку</button>
                    </div>
                </div>
            </div>
            <div class="col-2 d-none d-lg-block">
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Участники согласования
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body ordering_for_new_request">
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#id_type").oldValue = $("#id_type").val();
    $("#id_contract").selectize()[0].selectize.clearOptions();
    $("#id_bank_account").selectize()[0].selectize.clearOptions();
    $("#id_client").on("change", function () {
        $.getJSON("{% url 'get_contracts' %}?id=" + $(this).val(), function (Contracts) {
            $("#id_contract").selectize()[0].selectize.clear();
            $("#id_contract").selectize()[0].selectize.clearOptions();
            $("#id_contract").selectize()[0].selectize.load(function (callback) {
                callback(Contracts);
            });
        });
        $.getJSON("{% url 'get_bank_accounts' %}?id=" + $(this).val(), function (Bank_accounts) {
            $("#id_bank_account").selectize()[0].selectize.clear();
            $("#id_bank_account").selectize()[0].selectize.clearOptions();
            $("#id_bank_account").selectize()[0].selectize.load(function (callback) {
                callback(Bank_accounts);
            });
        });
    });
    $("#id_type").on("change", function () {
        
        if ($(this).oldValue != $(this).val())
        {
            $(".ordering_for_new_request").empty();
            $(".ordering_for_new_request").append("<div class=\"d-flex justify-content-center\"><div class=\"spinner-grow\" role=\"status\"><span class= \"visually-hidden\"> Loading...</span></div></div>");
            $(".ordering_for_new_request").load("{% url 'get_ordering_for_new_request' %}?id=" + $(this).val());
            
            $(this).oldValue = $(this).val();
        }
        
    });
   
</script>
{% endblock %}